<div class="two fields">
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
</div>
{{ form_row(form.street) }}
<div class='hidden alert alert-info' id="wrong_address" role='alert'>К сожалению, указанный адрес не найден. Адрес и стоимость доставки будет уточнена оператором.</div>
<div class="suggestion_container hidden loading" id="suggestion_container"></div>
<div class="hidden">
    {% include '@SyliusShop/Common/Form/_countryCode.html.twig' with {'form': form.countryCode} %}

    <div class="province-container field" data-url="{{ path('sylius_shop_ajax_render_province_form') }}">
        {% if form.provinceCode is defined %}
            {{ form_row(form.provinceCode, {'attr': {'class': 'ui dropdown'}}) }}
        {% elseif form.provinceName is defined %}
            {{ form_row(form.provinceName) }}
        {% endif %}
    </div>

    {% if form.provinceCode is defined %}
        {{ form_errors(form) }}
    {% endif %}

    <div class="two fields">
        {{ form_row(form.city) }}
        {{ form_row(form.postcode) }}
        {{ form_row(form.fiasCode) }}
    </div>
</div>
{{ form_row(form.phoneNumber) }}
