<div class="header__layout">
    <ul class="header__info">
        <li class="header__info_call">
            <img class="header__info_phone" src="/assets/shop/img/phone.svg">
            <p class="header__info_number">+7 983 395 86 13</p>
        </li>
        <li class="header__info_city">Барнаул</li>
    </ul>
</div>
<nav>
    <ul class="header__info">
        {% if is_granted('ROLE_USER') %}
            <li class="header__info_enter">
                <img class="header__info_padlock" src=".assets/shop/img/padlock-opened.svg">
                <a href="#" target="_blank" class="header__link" title="{{ app.user.customer.FullName }}"
                   href="{{ path('sylius_shop_account_dashboard') }}">{{ app.user.customer.FirstName }} {{ app.user.customer.LastName|first }}</a>
                <a href="{{ path('sylius_shop_logout') }}">{{ 'sylius.ui.logout'|trans }}</a>#}
            </li>
        {% else %}
            <li class="header__info_enter">
                <img class="header__info_padlock" src="/assets/shop/img/padlock.svg">
                <a class="header__link profile__enter-button">{{ 'sylius.ui.login'|trans }}</a>
                <img class="header__info_ellipse" src="/assets/shop/img//ellipse.svg">
                <a class="header__link profile__registration-button">{{ 'sylius.ui.register'|trans }}</a>
            </li>
        {% endif %}
    </ul>
</nav>
<nav>
    {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
</nav>
<div class="header__marinewool">
    <a href="{{ path('sylius_shop_homepage') }}" class="footer__column-link">
        <img src="/assets/shop/img/MarineWool.png" class="header__logo">
        <h1 class="header__title">{{ sylius.channel.name|raw|upper }}</h1>
    </a>
</div>
