  <header class="header-small">
    <div class="header-small__container">
      <div class="header-small__left">
        <img class="header-small__phone-icon" src="/assets/shop/img/phone.png" alt="">
        <a class="header-small__phone" href="tel:79833958613">+7-983-395-86-13</a>
      </div>
      <div class="header-small__right">
        <div class="header-small__right-left">
          <div class="header-small__auth">
          {% if is_granted('ROLE_USER') %}
              <a class="header-small__auth-a" title="{{ app.user.customer.FullName }}" href="{{ path('sylius_shop_account_dashboard') }}">{{ app.user.customer.FirstName }} {{ app.user.customer.LastName|first }}.</a> /
              <a class="header-small__auth-a" href="{{ path('sylius_shop_logout') }}">{{ 'sylius.ui.logout'|trans }}</a>
          {% else %}
              <a class="header-small__auth-a" href="{{ path('sylius_shop_login') }}">{{ 'sylius.ui.login'|trans }}</a> /
              <a class="header-small__auth-a" href="{{ path('sylius_shop_register') }}">{{ 'sylius.ui.register'|trans }}</a>
          {% endif %}
          </div>
          <!--div class="header-small__search">
            <form method="post" action="">
              <input class="header-small__search-input" placeholder="Поиск по магазину.." type="text">
              <button class="header-small__search-btn"></button>
            </form>
          </div-->
        </div>
        {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
      </div>
    </div>
  </header>