<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-2">
                <p class="textboltfooter"><a href="">Каталог</a></p>
                <p class="textnormalfooter"><a href="">Пряжа</a></p>
                <p class="textnormalfooter"><a href="">Спицы и крючки</a></p>
                <p class="textnormalfooter"><a href="">Аксессуары</a></p>
                <p class="textnormalfooter"><a href="">Товары для визания</a></p>
                <p class="textnormalfooter"><a href="">Акции</a></p>
            </div>
            <div class="col-lg-3">
                <p class="textboltfooter"><a href=" {{ path('sylius_shop_static_content_slug_show', {'slug': 'about'}) }} " class="item">{{ 'sylius.ui.about'|trans }}</a></p>
                <p class="textboltfooter"><a href="{{ path('sylius_shop_news_index') }}" class="main-menu__a">{{ 'app.ui.uncost'|trans }}</a></p>
                <p class="textboltfooter"><a href="">Блог</a></p>
                <p class="textboltfooter"><a href=" {{ path('sylius_shop_static_content_slug_show', {'slug': 'shipping'}) }} " class="item">{{ 'sylius.ui.delivery_and_shipping'|trans  }}</a></p>
                <p class="textboltfooter"><a href=" {{ path('sylius_shop_static_content_slug_show', {'slug': 'contacts'}) }} " class="item">{{ 'sylius.ui.contacts'|trans }}</a></p>
            </div>
            <div class="col-lg-3">
                <p class="textboltfooter"><img src="/assets/shop/img/map-pin-silhouette.png" class="imgfooter" alt=""> Барнаул, улица Шумакова 46</p>
                <p class="textnormalfooter leftpadfoot">(ТЦ Лидер, нижний торговый зал)</p>
                <p class="textboltfooter"><img src="/assets/shop/img/call-answer.png" class="imgfooter" alt=""><a href="tel:+7 983 395 86 13"> +7 983 395 86 13</a></p>
                <p class="textboltfooter"><img src="/assets/shop/img/mail-black-envelope-symbol.png" class="imgfooter" alt=""><a href="mailto:shop@marinewool.ru">shop@marinewool.ru</a></p>
                <p class="textboltfooter"><img src="/assets/shop/img/clock.png" class="imgfooter" alt=""> Ежедневно с 10.00 - 20.00</p>
                <p class="textnormalfooter"><img src="/assets/shop/img/in.png" class="imgfooter" alt=""> <img src="/assets/shop/img/whatsapp.png" class="imgfooter" alt=""><a href="whatsapp://send?phone=+79133680420">+7 983 395 86 13</a></p>
            </div>
        </div>
        <div class="row footerlogopad">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-2">
                <a href=""><img src="/assets/shop/img/MarineWool.png" class="foterlogo" alt=""></a>
            </div>
            <div class="col-lg-5 linehsmall">
                <p class="textsmallfooter">© 2019 Магазин пряжи MarineWool. Все права защищены.</p>
                <p class="textsmallfooter">Пожалуйста, ознакомьтесь с <a href=" {{ path('sylius_shop_static_content_slug_show', {'slug': 'confidential'}) }} " class="item">политикой конфиденциальности</a></p>
            </div>
        </div>
    </div>
</div>