<footer id="footer" class="ui inverted vertical footer segment">
    <div class="container">
        <div class="ui inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">{{ 'sylius.ui.your_store'|trans }}</h4>
                <div class="ui inverted link list">
                    <a href=" {{ path('sylius_shop_static_content_slug_show', {'slug': 'about'}) }} " class="item">{{ 'sylius.ui.about'|trans }}</a>
                    <a href=" {{ path('sylius_shop_static_content_slug_show', {'slug': 'contacts'}) }} " class="item">{{ 'sylius.ui.contacts'|trans }}</a>
                </div>
            </div>
            <div class="header__right-btns hidden-sm hidden-md hidden-lg">
                {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">{{ 'sylius.ui.customer_care'|trans  }}</h4>
                <div class="ui inverted link list">
                    <a href=" {{ path('sylius_shop_static_content_slug_show', {'slug': 'shipping'}) }} " class="item">{{ 'sylius.ui.delivery_and_shipping'|trans  }}</a>
                    <a href=" {{ path('sylius_shop_static_content_slug_show', {'slug': 'return'}) }} " class="item">{{ 'sylius.ui.returns_policy'|trans  }}</a>
                    <a href=" {{ path('sylius_shop_static_content_slug_show', {'slug': 'confidential'}) }} " class="item">{{ 'sylius.ui.confidential'|trans  }}</a>
                </div>
            </div>
            <div class="social-networks__footer hidden-sm hidden-md hidden-lg">
                <a target="_blank" class="btn btn-social-icon btn-vk" href="https://vk.com/club144664503"><span class="fa fa-vk"></span></a>
                <a target="_blank" class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/marinewool.ru/"><span class="fa fa-instagram"></span></a>
                <a target="_blank" class="btn btn-social-icon btn-instagram" href="https://ok.ru/group/53251639672985"><span class="fa fa-odnoklassniki-square"></span></a>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">&copy; {{ 'sylius.ui.your_store'|trans }} - <a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.shop_name'|trans }}</a></h4>
            </div>
        </div>
    </div>
</footer>
