{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

{% block content %}
    {% include '@SyliusShop/Register/_header.html.twig' %}

    {{ sonata_block_render_event('sylius.shop.register.after_content_header') }}

    <div class="ui padded segment">
        {{ sonata_block_render_event('sylius.shop.register.before_form') }}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script>
            function onSubmit(token) {
                document.getElementById("registration").submit();
            }
        </script>
        {{ form_start(form, {'action': path('sylius_shop_register'), 'attr': {'id': 'registration', 'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
            {% include '@SyliusShop/Register/_form.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.register.form', {'form': form}) }}

            <button type="submit" class="ui large primary button g-recaptcha" data-sitekey="6LfAnFYaAAAAACnV2l_hD0oV19BQZuCG4kH57Gmk" data-callback="onSubmit">
                {{ 'sylius.ui.create_an_account'|trans }}
            </button>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
