<section class="icon  section">
    <div class="icon__links">
        <a class="icon__link icon__img_yarn icon__img"
           href="{{ path('sylius_shop_homepage') }}taxons/glavnoie-menu/priazha"></a>
        <a class="icon__link icon__img_needles icon__img"
           href="{{ path('sylius_shop_homepage') }}taxons/spitsy-i-kriuchki/addi-germaniia"></a>
        <a class="icon__link icon__img_scissors icon__img"
           href="{{ path('sylius_shop_homepage') }}taxons/glavnoie-menu/tools"></a>
        <a class="icon__link icon__img_soap icon__img" href="{{ path('sylius_shop_homepage') }}taxons/instrumenty"></a>
        <a class="icon__link icon__img_stocks icon__img"
           href="{{ path('sylius_shop_homepage') }}taxons/glavnoie-menu/aktsii"></a>
    </div>
    <div class="icon__items">
        <a class="icon__item" href="{{ path('sylius_shop_homepage') }}taxons/glavnoie-menu/priazha">Пряжа</a>
        <a class="icon__item" href="{{ path('sylius_shop_homepage') }}taxons/spitsy-i-kriuchki/addi-germaniia">Спицы и
            крючки</a>
        <a class="icon__item" href="{{ path('sylius_shop_homepage') }}taxons/glavnoie-menu/tools">Аксессуары</a>
        <a class="icon__item" href="{{ path('sylius_shop_homepage') }}taxons/instrumenty">Товары для вязания</a>
        <a class="icon__item icon__item_accent" href="{{ path('sylius_shop_homepage') }}taxons/glavnoie-menu/aktsii">Акции</a>
    </div>

    <div class="icon__links-mobile">
        <a class="icon__link icon__img_yarn icon__img"
           href="{{ path('sylius_shop_homepage') }}taxons/glavnoie-menu/priazha"></a>
        <a class="icon__link icon__img_needles icon__img"
           href="{{ path('sylius_shop_homepage') }}taxons/spitsy-i-kriuchki/addi-germaniia"></a>
        <a class="icon__link icon__img_scissors icon__img"
           href="{{ path('sylius_shop_homepage') }}taxons/glavnoie-menu/tools"></a>
    </div>
    <div class="icon__items-mobile">
        <a class="icon__item" href="{{ path('sylius_shop_homepage') }}taxons/glavnoie-menu/priazha">Пряжа</a>
        <a class="icon__item" href="{{ path('sylius_shop_homepage') }}taxons/spitsy-i-kriuchki/addi-germaniia">Спицы и
            крючки</a>
        <a class="icon__item icon__item_accent" href="{{ path('sylius_shop_homepage') }}taxons/glavnoie-menu/tools">Аксессуары</a>
    </div>

    <div class="icon__links-mobile">
        <a class="icon__link icon__img_soap icon__img" href="{{ path('sylius_shop_homepage') }}taxons/instrumenty"></a>
        <a class="icon__link icon__img_stocks icon__img" href="#" target="_blank"></a>
    </div>
    <div class="icon__items-mobile-item">
        <a class="icon__item" href="{{ path('sylius_shop_homepage') }}taxons/instrumenty">Товары для вязания</a>
        <a class="icon__item icon__item_accent" href="{{ path('sylius_shop_homepage') }}taxons/glavnoie-menu/aktsii">Акции</a>
    </div>
</section>