{%- macro format(amount, currency_code) -%}
    {{ amount|sylius_format_money(currency_code, sylius.localeCode) }}
{%- endmacro -%}

{%- macro convertAndFormat(amount) -%}
    {% from _self import format %}
    {{- format(amount|sylius_convert_money(sylius.channel.baseCurrency.code, sylius.currencyCode), sylius.currencyCode) }}
{%- endmacro -%}

{%- macro calculatePrice(variant) -%}
    {% from _self import convertAndFormat %}
    {% set price = variant|acme_catalog_price({'channel': sylius.channel}) %}
    {% if price.basePrice == price.currentPrice %}
        {{- convertAndFormat(price.basePrice) -}}
    {% else %}
        <span class="promotional__price">{{- convertAndFormat(price.basePrice) -}}</span> <p class="yarn__price yarn__price_card">{{- convertAndFormat(price.currentPrice) -}}</p>
    {% endif %}
{%- endmacro -%}


{%- macro getPrice(variant) -%}
    {% set price = variant|acme_catalog_price({'channel': sylius.channel}) %}
    {% if price.basePrice == price.currentPrice %}
        {{- (price.basePrice / 100)|number_format(0, '.', ' ') -}}
    {% else %}
        <span class="promotional__price">{{- (price.basePrice / 100)|number_format(0, '.', ' ') -}}</span> <p class="yarn__price yarn__price_card">{{- (price.currentPrice / 100)|number_format(0, '.', ' ') -}}</p>
    {% endif %}
{%- endmacro -%}